In [1]:
import os
import pandas as pd

In [3]:
# Define the input_folder where the CSV files are stored
input_folder = r"C:\Users\nwn86\ResearchProject_singlensp\Staging\Energy"  # Change this to your actual path

In [5]:
input_folder

'C:\\Users\\nwn86\\ResearchProject_singlensp\\Staging\\Energy'

In [7]:
# Initialize an empty list to store individual DataFrames
dfs = []

# Loop through all CSV files in the input_folder
for filename in os.listdir(input_folder):
    if filename.endswith(".csv"):
        file_path = os.path.join(input_folder, filename)
        df = pd.read_csv(file_path, parse_dates=["Trading_date"])
        dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
merged_df = pd.concat(dfs, ignore_index=True)

# Ensure the data is sorted by Trading_date
merged_df.sort_values(by="Trading_date", inplace=True)

In [9]:
merged_df

       Fuel_Code POC_Code Trading_date   Total_TP
0          Hydro  ANI0111   2000-01-01   352663.0
217        Hydro  BWK1101   2000-01-01    63952.0
372        Hydro  KPO1101   2000-01-01   940750.0
403        Hydro  KUM0111   2000-01-01    87503.0
899        Hydro  TUI1101   2000-01-01   942570.0
...          ...      ...          ...        ...
377633     Hydro  TKB2201   2025-01-31  2317178.0
377013     Hydro  CYD2201   2025-01-31  3547678.0
377602     Hydro  TKA0111   2025-01-31   460917.0
377819     Hydro  WTK0111   2025-01-31  1610301.0
378222      Wind  WWD1103   2025-01-31   544447.0

[378223 rows x 4 columns]

In [11]:
# # Filter data within the specified date range
# start_date = "2015-01-01"
# end_date = "2024-12-31"
# merged_df = merged_df[(merged_df["Trading_date"] >= start_date) & (merged_df["Trading_date"] <= end_date)]

In [13]:
merged_df = merged_df.rename(columns={'Trading_date': 'DATE'})

In [15]:
merged_df['Total_TP'] = merged_df['Total_TP'].round(4)

In [17]:
merged_df

       Fuel_Code POC_Code       DATE   Total_TP
0          Hydro  ANI0111 2000-01-01   352663.0
217        Hydro  BWK1101 2000-01-01    63952.0
372        Hydro  KPO1101 2000-01-01   940750.0
403        Hydro  KUM0111 2000-01-01    87503.0
899        Hydro  TUI1101 2000-01-01   942570.0
...          ...      ...        ...        ...
377633     Hydro  TKB2201 2025-01-31  2317178.0
377013     Hydro  CYD2201 2025-01-31  3547678.0
377602     Hydro  TKA0111 2025-01-31   460917.0
377819     Hydro  WTK0111 2025-01-31  1610301.0
378222      Wind  WWD1103 2025-01-31   544447.0

[378223 rows x 4 columns]

In [19]:
_dir = r"C:\Users\nwn86\ResearchProject_singlensp\Processed"
# Save the merged DataFrame to a new CSV file
filename = "merged_data.csv"

output_file = os.path.join(_dir, filename)

merged_df.to_csv(output_file, index=False)

print(f"Merged CSV file saved as {output_file}")

Merged CSV file saved as C:\Users\nwn86\ResearchProject_singlensp\Processed\merged_data.csv

In [21]:
# Load the dataset
#df = pd.read_csv("merged_data.csv")

In [23]:
# Filter data for Hydro and Wind
hydro_df = merged_df[merged_df["Fuel_Code"] == "Hydro"]
wind_df = merged_df[merged_df["Fuel_Code"] == "Wind"]

In [27]:
hydro_df = hydro_df.groupby(['Fuel_Code','POC_Code', 'DATE'], as_index=False).sum()

In [29]:
wind_df = wind_df.groupby(['Fuel_Code','POC_Code', 'DATE'], as_index=False).sum()

In [31]:
hydro_data = "hydro_data.csv"
output_hydro_file = os.path.join(_dir, hydro_data)

In [33]:
wind_data = "wind_data.csv"
output_wind_file = os.path.join(_dir, wind_data)

In [35]:
# Save to separate CSV files
hydro_df.to_csv(output_hydro_file, index=False)
wind_df.to_csv(output_wind_file, index=False)

print("Hydro and Wind data have been successfully saved to separate CSV files.")

Hydro and Wind data have been successfully saved to separate CSV files.